*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    /*overflow: scroll;*/
}


/*---------------*/
/*topo com o nome buzzquizz*/
.logo{
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nome{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

}
/*--------------*/


/*--------------*/
/* tudo de imagens*/
/*page 1 e 2*/
.img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    object-fit: cover;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);

}
/*page 7*/
.img3{
    width: 500px;
    height: 266px;
    border-radius: 5px;
    object-fit: cover;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}
/*page 3*/
.img4{
    width: 330px;
    height: 176px;
    object-fit: cover;
}
.img5{
    margin-left: 20px;
    margin-right: 20px;
    width: 294px;
    height: 203px;
    object-fit: fill;

}
.imgper{
    width: 330px;
    height: 164.1px;
    object-fit: cover;
}
/*--------------*/
.grad{
    top:80px;
    left: 0;
    width:100%;
    height: 300px;
    position: fixed;
    background: linear-gradient(150deg, rgba(0, 0, 0, 1) 100% , rgba(0, 0, 0, 1) 100%);
}

/*---------------*/
/*margens*/
.margem{
    height: 77px;
}
.margempequena{
    height: 20px;
}
.margemmenor{
    height: 10px;
}
/*---------------*/


/*---------------*/
/*em todas as pages*/
.corpo{
    background-color: #E5E5E5;
    height: auto;
    width: 100%;
    
    height: auto;
    margin: auto;

    display: flex;
    direction: y;
    justify-content: center;
    align-items: center;
    
}
.corpinho{    
    width: 1051px;
    height: auto;
    margin: auto;

    display: column;
    justify-content: center;
    align-items: center;

    position: relative;
    
}
.link{
    text-decoration: none;
}
/*--------------*/

/*-------------*/
/*page 1*/
.criarquizz{
    width: 100%;
    height: 180px;
    border: 2px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.alinharcriar{
    margin-top: 0px;
    display: column;
    justify-content: center;
    align-items: center;
}
.naocriou{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    margin-bottom: 20px;}

.texto2{
    text-align: center;
}

.btcriarquizz{
    width: 151px;
    height: 40px;
    position: absolute;
    color: #EC362D;
    font-size: 21px;
    border: 2px dashed #EC362D;
    border-radius: 50px;
    margin-left: 35px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criarbotao{

    margin-top: 8px;
    margin-left: 25px;
    border-color: white;

}
.todososquizzes{
      
    width: 1051px;
    height: auto;
    margin: auto;
    
    display: column;
    justify-content: center;
    align-items: center;
    
    position: relative;

}
.palavras{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black;
    margin-bottom: 10px;
    margin-left: 8px;
    display: flex;
    align-items: center;
}
.quizes{
    display: column;
}
.dividindo{
    display: flex;
}
.quizz{
    margin-left: 8px;
    margin-bottom: 10px;
    width: 340px;
    height: 181px;
    display: flex;
}

.titulo{
    display: inline-block;
    width: max-content;
    height: 54px;
    position: absolute;
    margin-top: 150px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;}

/*-------------*/



/*------------*/
/*page 2*/
.mais{
    color: #EC362D;
    width: 31px;
    height: 30px;
}
/*-------------*/



/*--------------*/
/*page 3*/

.textoquizz{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    font-weight: 400;
    font: 'Roboto';
    font-size: 39px;
    text-align: center;
    line-height: 350px;
}
.opcoes{
    display: flex;
    flex-direction: column;
}

.dividindo_opcoes{
    display: flex;
    justify-content: center;
}
.perguntas_quizz{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 340px;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textoimgpergunta{
    height: 50px;
    width: 200px;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-top: 5px;
}
.retangulao{
    width: 600px;
    height: auto;
    margin: auto;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.retangulovermelho{
    box-sizing: border-box;
    width: 564px;
    height: 46px;

    margin: auto;
    margin-top: 5px;

    background:#EC362D;
}
.prosseguir{
    
    width: 368px;
    height: 58px;
    position: absolute;
    color: #FFFFFF;
    font-size: 21px;
    background-color: #EC362D;
    border: 2px solid #EC362D;
    border-radius: 15px;
    margin-left: 35px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    text-decoration: none;
    left: 340px;
}
.voltar{
    margin: auto;
    
    display: inline;
    margin-left: 445px;

    width: 224px;
    height: 27px;
    left: 608px;
    top: 140px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;

    color: #818181;

    text-decoration: none;

}
.deixarladoalado{
    display: flex;
    justify-content: space-between;
}
.acerto{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    margin: auto;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 10px;
}
.fundoquizz{
    width: 100%;
    height: 227px;
    top: 69px;
}
.fundoquizz img{
    margin: auto;
    width: 100%;
    height: 227px;
    object-fit: cover;
    background: linear-gradient(150deg, rgba(0, 0, 0, 1) 100% , rgba(0, 0, 0, 1) 100%);
}

.caixapergunta2{
    width: 688px;
    height: 137px;
    margin: auto;
    background-color: #434ca0;
    margin-top: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textopergunta2{
    display: flex;
    font: 'Roboto';
    font-weight: 700;
    font-size: 23px;
    line-height: 26px;
}
.textofinal{
    margin: auto;
    margin-top: 10px;
    margin-left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    /* or 132% */
    display: flex;
    align-items: top;


    color: #484848;
}
.caixapergunta{
    width: 688px;
    height: 137px;
    margin: auto;
    background-color: #434ca0;
    margin-top: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coluna{
    display: flex;
    flex-direction: column;
}
.retangulo2{
    width: 700px;
    height: 600px;
    margin: auto;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
/*---------------*/





/*------------*/
/*page4*/

.comece{
    margin: auto;
    width: 100%;

    display: inline;
    margin-left: 420px;

    width: 224px;
    height: 27px;
    left: 608px;
    top: 140px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.retangulo{
    box-sizing: border-box;
    width: 564px;
    height: 46px;

    margin: auto;
    margin-top: 5px;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}
.insira{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;

    color: #BABABA;
    margin-top: 10px;
    margin-left: 4px;

    display: flex;
    align-items: center;
}
/*---------------*/
/*-------------*/
/*page5*/
.palavrasdois{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black;
    margin-top: 28px;
    margin-bottom: 24px;
    margin-left: 20px;
    display: flex;
    align-items: center;

}
.iconeeditar{
    margin-top: 28px;
    margin-bottom: 24px;
    margin-right: 10px;
    color: #000000;
    width: 26px;
    height: 23px;
}

/*---------------*/

/*---------------*/
/*page7*/
.quizzpronto2{
    display: flex;
    justify-content: center;
}
.textoquizz3{
    position: absolute;
    margin-right: 255px;
    left: 330;
    color: white;
    font-weight: 400;
    font: 'Roboto';
    font-size: 17px;
    display: flex;
    top: 190px;
    margin-bottom: 10px;
    line-height: 350px;
}
/*--------------*/




/*nao achei*/
/*
.img2{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}
*/
/*
.textopergunta{
    font: 'Roboto';
    font-weight: 700;
    font-size: 23px;
    line-height: 26px;
}*/
/*
.quizzpronto{
    margin-left: 355px;
}*/
/*
.textoquizz2{
    position: absolute;
    top: 0;
    left: 330;
    color: white;
    font-weight: 400;
    font: 'Roboto';
    font-size: 17px;
    text-align: center;
    margin-top: 100px;
    margin-left: 10px;
    line-height: 350px;
}
*/



/*responsivo*/
@media (max-width:1100px){
    .corpo{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .corpinho{
        width: 100%;
        flex-direction: column;
    }
    .dividindo{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .prosseguir{
        margin-left:8vw;
        width: 324px;
        left: 30px;
    }
    .comece{
        left: 0;
        margin-left: 20vw;
    }
    .voltar{
        margin-left: 30vw;
        left: 0;
        width: 50vw;
    }
    /*pag3*/
    .caixapergunta{
        width: 100%;
    }
    .caixapergunta2{
        width: 100%;
    }
    .perguntas_quizz{
        width: 50%;
    }
    .img4{
        width: 50vw;
        height: 113px;
    }
    .imgper{
        width: 50vw;
        height: 113px;
    }
    .retangulovermelho{
        width: 100%;
        height: 60 px;
    }
    .acerto{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .retangulao{
        width: 100%;
    }
    .prosseguir{
        margin-left: auto;
    }
    .retangulo{
        width: 95vw;
    }
    .todososquizzes{
        width: 100vw;
    }
    .retangulo2{
        width: 100vw;
        height: 550px;
    }
    .quizz{
        width: 95vw;
    }
}
@media (max-width:500px){
    .img3{
        width: 100%;
    }
}